# 使用说明：
# 1. 将此文件重命名为 .env
# 2. 在等号右侧填入你的真实密钥
# 3. 确保 .env 文件已被添加到 .gitignore 中，切勿上传！

# [必填] KOOK 机器人配置
BOT_TOKEN=你的_KOOK_机器人_TOKEN

# [必填] 数据库配置
# 示例: mongodb+srv://user:pass@cluster0.xxxxx.mongodb.net/
MONGO_URI=你的_MONGODB_连接字符串

# [建议] 管理员配置
# 你的 KOOK 用户数字 ID，用于执行 /auth 授权指令
OWNER_ID=你的_KOOK_ID

# [可选] Steam 接口配置
# 用于 CS2 战绩查询及服务器状态监控
STEAM_API_KEY=你的_STEAM_API_KEY

# [可选] APEX 接口配置
# 用于 APEX 战绩查询及地图轮换监控
APEX_API_KEY=你的_APEX_LEGENDS_STATUS_KEY

# [可选] Hugging Face 配置
# 用于云端同步翻译词库（若不使用云端数据集功能可不填）
HF_TOKEN=你的_HF_TOKEN
HF_REPO_ID=你的用户名/仓库名
